<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"> 
<title>Page Title</title>
<script src="js/emailform.js"></script>
</head>
<body>

<div id="address_div">(*)
<input type="text" id="address" value="" placeholder="email enter here">
</div>

<div id="subject_div">(*)
<input type="text" id="subject" value="" placeholder="subject of email enter here">
</div>

<div id="message_div">(*)
<textarea id="message" cols="100" rows="12" placeholder="text of email enter here" ></textarea>
</div>

<div id="send_btn_div">
<input type="button" id="send_btn" value= "Send">
</div>
<p>Сделать схему на большом листе бумаге, шо куда идет. От регистрации к логину или от логина к регистрации?<br> 
Как потом перейти к заметками отдельного пользователя? Как выйти? (отлогиниться)
Чого не встановлются куки п1сля корректного логину ? Ок. ДЗ  форма вводу ново1 зам1тки
</p>

</body>
</html>