<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
	<link rel="icon" type="image/favicon.icon" href="#">

    <title>Document</title>
    <script src="js/btn_search.js" async></script>
	<script src="js/main.js" async></script>

	
</head>
<body>
   
   <br>You are logged.<br> Your cookies are:
    <br>[cookie]			
	<!--<br><a id="anchor1" href="index.php?cmd=exit">EXIT</a>-->
	<br><a id="anchor1" href="logout.php">EXIT</a>
   
</body>
</html>